google.client.id=839075209310-u1h0gpuka98ffvi30glci639avl391bs.apps.googleusercontent.com
google.client.secret=qkXo5CajRYblrDVXz0aUzN_h
firebase.apiKey=AIzaSyBVLmg2BcyF7GJAQiQtXfaCwP8IpQ3FyME
firebase.authDomain=ubademy.firebaseapp.com
firebase.projectId=ubademy
firebase.storageBucket=ubademy.appspot.com
firebase.messagingSenderId=1015875109053
firebase.appId=1:1015875109053:web:2570fb1cc4f0801a2ab7d4